# Ignore virtual environment
.venv/

# Ignore dataset folders
Diffected with no greyscale/
Non diffected with greyscale/

# Ignore heavy dataset folders inside models, but allow the trained weights
models/*
!models/defect_classifier.pth

# Ignore root images, but allow samples
*.jpg
*.png
!samples/*.jpg
!samples/*.png

# Python cache
__pycache__/
.vscode/